{{> trainermenu id="classes"}}

<div class="ui raised segment">
    <div class="ui centered three stackable cards">
    {{#each classes}}
    <div class="ui card">
        <div class="image">
            {{#if img}}
                <img src="{{img}}">
            {{else}}
                <img src="https://semantic-ui.com/images/wireframe/image.png">
            {{/if}}
        </div>
        <div class="content">
            <a class="header">{{name}}</a>
            <div class="meta">
                <span><i class="bar chart icon"></i> Difficulty: {{difficulty}}</span>
            </div>
            <div class="description">
                {{description}}
            </div>
        </div>
        <div class="extra content">
            <a>
                <i class="user icon"></i>
                {{capacity}} Places
                <a href="classes/{{../trainer.id}}/deleteclass/{{classId}}" class="ui right floated red icon button">
                    <i class="trash icon"></i>
                </a>
                <a href="editclass/{{classId}}" class="ui right floated blue icon button">
                    <i class="pencil icon"></i>
                </a>
            </a>
        </div>
    </div>
    {{/each}}
    </div>

    <form class="ui segment form" action="classes/{{trainer.id}}/addclass" method="POST">
        <h3 class="ui header">Add Class</h3>
        <div class="two fields">
            <div class="field">
                <label>Class Name</label>
                <input placeholder="Class Name" type="text" name="name" required>
            </div>
        </div>
        <button class="ui blue submit button">Add Class</button>
    </form>
</div>