{{> menu id="dashboard"}}

<section class="ui grid basic middle aligned segment">
    <div class="ui two column row">
        <div class="ui column stacked segment">
            <h1 class="ui header">
                {{#if member.img}}
                    <img class="ui avatar image" src="{{member.img}}"/>
                {{/if}}
                Update Profile
            </h1>
            <form class="ui form" action="/update" method="POST" enctype="multipart/form-data">
                <div class="ui two fields">
                    <div class="field">
                        <label>Name</label>
                        <input placeholder="Name" type="text" name="name" value="{{member.name}}" required>
                    </div>
                    <div class="field">
                        <label>Gender</label>
                        <select class="ui dropdown" name="gender" required>
                            <option value="" hidden> Gender </option>
                            <option value="Male" {{selectionEquals member.gender 'Male'}}>Male</option>
                            <option value="Female" {{selectionEquals member.gender 'Female'}}>Female</option>
                        </select>
                    </div>
                </div>
                <div class="field">
                    <label>Email</label>
                    <input placeholder="Email" type="email" name="email" value="{{member.email}}" required>
                </div>
                <div class="field">
                    <label>Password</label>
                    <input placeholder="Password" type="password" name="password" value="{{member.password}}" required>
                </div>
                <div class="field">
                    <label>Address</label>
                    <input placeholder="Address" type="text" name="address" value="{{member.address}}" required>
                </div>
                <div class="ui two fields">
                    <div class="field">
                        <label>Height</label>
                        <input placeholder="Height" type="number" step=".01" name="height" value="{{member.height}}" required>
                    </div>
                    <div class="field">
                        <label>Starting Weight</label>
                        <input placeholder="Starting Weight" type="number" step=".01" name="weight" value="{{member.weight}}" required>
                    </div>
                </div>
                <div class="ui two fields">
                    <div class="field">
                        {{> imageupload}}
                    </div>
                    <div class="field">
                        <label> &nbsp; </label>
                        <button class="ui right floated blue submit button">Update Profile</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="column">
            <img src="/public/images/bmi.jpg">
        </div>
    </div>
</section>
