{{> menu id="classes"}}
<div class="ui raised segment">
    <div class="ui divided stacking items">
        {{#each trainersClasses}}
            {{#each classes}}
                <div class="item">
                    <div class="ui image">
                        {{#if img}}
                            <img style="width: 230px; object-fit: cover" src="{{img}}">
                        {{else}}
                            <img style="width: 230px; object-fit: cover" src="https://semantic-ui.com/images/wireframe/image.png">
                        {{/if}}
                    </div>

                    <div class="content">
                        <div class="ui two column divided stackable grid">
                            <div class="eleven wide column">
                                <a class="header">{{name}}</a>
                                <div class="meta">
                                    <span><i class="bar chart icon"></i> Difficulty: {{difficulty}}</span>
                                </div>
                                <div class="description">
                                    {{description}}
                                </div>
                            </div>
                            <div class="five wide column">
                                <div class="list">
                                    {{#each sessions}}
                                        <div class="content">
                                            <div class="header">
                                                {{date}}
                                                <a href="enroll/{{../../trainerId}}/{{../classId}}/{{sessionId}}"
                                                   id="session{{sessionId}}" class="ui right floated blue icon tiny button">
                                                    <i class="ui add icon"></i>
                                                    Enroll </a>
                                                <script>

                                                    if ({{isEnrolled this.enrollments ../../../member.id}}) {
                                                        document.getElementById('session{{sessionId}}').className = 'ui right floated red tiny button';
                                                        document.getElementById('session{{sessionId}}').innerHTML = '<i class="ui minus icon"></i>Unenroll';
                                                        document.getElementById('session{{sessionId}}').setAttribute('href', 'unroll/{{../../trainerId}}/{{../classId}}/{{sessionId}}');
                                                    } else if ({{../capacity}} - {{enrollments.length}} === 0) {
                                                        document.getElementById('session{{sessionId}}').className = 'ui right floated disabled red tiny button';
                                                        document.getElementById('session{{sessionId}}').innerHTML = '<i class="ui delete icon"></i>Full';
                                                    }
                                                </script>
                                            </div>
                                            {{starttime}} - {{endtime}}
                                        </div>
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}
        {{/each}}
    </div>
</div>