{{> menu id="classes"}}
{{#each trainersClasses}}
    {{#each classes}}
        <div class="ui raised segment">
            <div class="ui divided stackable grid">
                <div class="row">
                    <div class="ui four wide column">
                        <div class="ui image">
                            {{#if img}}
                                <img style="width: 320px; object-fit: cover" src="{{img}}">
                            {{else}}
                                <img style="width: 320px; object-fit: cover"
                                     src="https://semantic-ui.com/images/wireframe/image.png">
                            {{/if}}
                        </div>
                    </div>
                    <div class="ui seven wide column">
                        <h2>{{name}}</h2>
                        {{description}}
                    </div>
                    <div class="ui five wide column">
                        <h2>Information</h2>
                        <div><i class="large bar chart icon"></i> Difficulty: {{difficulty}}</div>
                        <div><i class="large user icon"></i> Class Size: {{capacity}} Members</div>
                        <div><i class="large calendar icon"></i> Sessions: {{sessions.length}}</div>
                    </div>
                </div>
            </div>
            <table class="ui padded table">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Availability</th>
                    <th class="collapsing">
                        {{getClassButton ../trainerId this ../../member.id}}
                    </th>
                </tr>
                </thead>
                <tbody>
                {{#each sessions}}
                    <tr>
                        <td class="collapsing">
                            {{date}}
                        </td>
                        <td> {{starttime}} - {{endtime}} </td>
                        <td> {{subtract ../capacity enrollments.length}} Places Remaining</td>
                        <td class="two wide collapsing">
                            {{getSessionButton ../../trainerId ../this this ../../../member.id}}
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    {{/each}}
{{/each}}